<div class="container">
  <div class="row" style="text-align:center;">
    <h1 class="text-justify">Welcome to home page</h1>
  </div>
  <div class="form-div">
    <%= form_with url: "/weather/search", class:"form-inline" do |form| %>
      <%= form.select :city_id, options_for_select(City.all.pluck(:name, :id)), {}, {class:"form-select"}%>
      <%= form.submit "Weather", class:"btn btn-primary my-1"%>
    <% end %>
  </div>
  <% if @temp %>
    <section class="vh-100">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-7 col-xl-5">
            <div id="wrapper-bg" class="card text-white bg-image shadow-4-strong"
              style="background-image: url(<%= asset_path 'weather.jpg' %>); background-size: cover;">
              <div class="card-header p-4 border-0">
                <div class="text-center mb-3">
                  <p class="h2 mb-1" id="wrapper-name"><%=@city%></p>
                  <p class="mb-1" id="wrapper-description">Tomorrow</p>
                  <p class="display-1 mb-1" id="wrapper-temp"><%=@temp%>°C</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</div>
