<%= render "layouts/navbar"%>
<div class="container">
  <div class="row" style="text-align:center;">
    <h1 class="text-justify">Welcome to home page</h1>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col">
      <%= form_with url: "/weather/search", class:"form-inline" do |form| %>
        <%= form.hidden_field :city_id, value: current_user.city_id %>
        <%= form.date_field :date, min: Date.current.tomorrow, max: (Date.current + 4.days) %>
        <%= form.submit "weather", class:"btn btn-primary my-1"%>
      <% end %>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <% if @temp && @date %>
      <h1> <%=@date%> </h1>
      <h1> <%=@city%> </h1>
      <h1> <%=@temp%> </h1>
    <% end %>
  </div>
</div>