<div class="container">
  <div class="row" style="text-align:center;">
    <h1 class="h3 mb-3 font-weight-normal">my City weather</h1>
  </div>

  <div class="form-div">
    <%= form_with url: "/weather/search", class:"form_signin" do |form| %>
      <%= form.hidden_field :city_id, value: current_user.city_id %>
      <%= form.date_field :date, class:"form-control", min: Date.current.tomorrow, max: (Date.current + 4.days) %>
      <%= form.submit "weather", class:"btn btn-primary my-1 " %>
    <% end %>
  </div>
  <% if @temp && @date && @city %>
    <section class="vh-100">
      <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-7 col-xl-5">
            <div id="wrapper-bg" class="card text-white bg-image shadow-4-strong"
              style="background-image: url(<%= asset_path 'weather.jpg' %>); background-size: cover;">
              <div class="card-header p-4 border-0">
                <div class="text-center mb-3">
                  <p class="h2 mb-1" id="wrapper-name"><%=@city%></p>
                  <p class="mb-1" id="wrapper-description"><%=@date%></p>
                  <p class="display-1 mb-1" id="wrapper-temp"><%=@temp%>°C</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<div>
